#logo-alone {
    stroke-dasharray: 4092;
    animation: logo-alone-appear 2s linear forwards;
    width: 100vh;
}


@keyframes logo-alone-appear {
    from {
        stroke-dashoffset: 4092;
        visibility: visible;
    }

    to {
        stroke-dashoffset: 0;
        visibility: visible;
    }

}