@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Open+Sans:wght@400&display=swap');


.hero-section {
  /* Styles de la section héro */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.hero-profile-img {
  /* Styles pour l'image de profil */
  width: 100px; /* ou la taille que tu veux */
  border-radius: 50%;
}

.hero-content {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  height: max-content;
  min-height: 150px;
  text-align: center;
}


.hero-content h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.hero-content p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.hero-content button{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: rgba(52, 86, 139, 0.5); /* --primary-color avec transparence */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Bordure légère pour l'effet de verre */
  border-radius: 5px; /* Coins légèrement arrondis */
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.hero-content button:hover {
  background: rgba(52, 86, 139, 0.7); /* Couleur un peu moins transparente au survol */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

/* .hero-title {
}

.hero-subtitle {
}

.hero-cta {
} */
