.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  background-image: url(../../media/noise-light.png);
}

.meteorite {
  overflow: hidden; 
  width: max-content; 
  height: fit-content;
  height: auto;
}

.hero-profile-img {
  width: 100px;
  border-radius: 50%;
}

.hero-content {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(000, 000, 000, 0.20);
  height: 60%;
  width: 60%;
  min-height: 150px;
  text-align: center;
}

.noise {
  background-image: url(../../media/noise-light.png);
  background-size: auto;
  height: 100%;
}


.hero-content h1 {
  font-family: var(--fonts-softSans);
  color: var(--primary-color);
  font-weight: 700;
}

.hero-content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: rgba(52, 86, 139, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.hero-content button:hover {
  background: rgba(52, 86, 139, 0.7);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

