

.card-master {
    position: absolute;
    aspect-ratio: 5/7;
    height: 457px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: transform 1s ease;
    /* animation: rotate-card linear forwards; */
    /* animation-timeline: scroll(); */
}

.card-master img{
    object-fit: fill;
}

@keyframes rotate-card {
    from {transform: rotateY(0deg)}
    to {transform: rotateY(180deg)}
}

