.site-footer {
  background: var(--primary-color); 
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}

.footer-navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}


.copy-info {
  margin-top: 15px;
  font-size: 14px;
}
