.project-page {
    background: linear-gradient(to bottom, var(--primary-color), purple);
    height: 100vh;
    min-height: 100%;
}

.d2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}


.d2>h1 {
    margin-top: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--fonts-softSans);
    color: var(--text-color-light);
}

#logo-svg {
    stroke-dasharray: 4092;
    animation: logo-appear 2s linear 2s forwards;
    visibility: hidden;
}

#bar-logo{
    animation: bar-logo 0.2s linear 4s forwards;
    visibility: hidden;
}

@keyframes logo-appear {
    from {
        stroke-dashoffset: 4092; visibility: visible;
    }

    to {
        stroke-dashoffset: 0; visibility: visible;
    }

}
  @keyframes bar-logo {
    from { stroke-dashoffset: 18 ; visibility: visible; }
    to {  stroke-dashoffset: 0 ;  visibility: visible;}
  }


  #logo-line {
    stroke-dasharray: 1251;
    stroke-dashoffset: 795;
    animation: logo-line linear forwards;
    animation-timeline: scroll();
    width: 100vh;
    /* visibility: hidden; */
}

@keyframes logo-line {
    from { stroke-dashoffset: 795 ; visibility: visible; }
    to {  stroke-dashoffset: 0 ;  visibility: visible;}
}